<nav class="nav-menu">
    <div class="main-menu">

        <h3>Menu</h3>

        <a routerLink="home" class="item">
        {{ 'LINKS.HOME' | translate }}
        </a>
        <a routerLink="services" class="item">
        {{ 'LINKS.SERVICES' | translate }}
        </a>
        <a routerLink="pricing" class="item">
        {{ 'LINKS.PRICING' | translate }}
        </a>
        <a routerLink="aboutus" class="item">
        {{ 'LINKS.ABOUTUS' | translate }}
        </a>
        <a routerLink="contactus" class="item">
        {{ 'LINKS.CONTACTUS' | translate }}
        </a>
        <!--
        <a routerLink="portfolio" class="item">
        {{ 'LINKS.PORTFOLIO' | translate }}
        </a>
        -->
        <div class="social">
            <!--
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            -->
            <a href="https://www.facebook.com/SynTech-Services-1305612176170629" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://plus.google.com/u/1/102487595666759897246" target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
            <!--
            <a href="#">
                <i class="fa fa-youtube-play"></i>
            </a>
            -->
        </div>
    </div>
</nav>
