<div class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 menu">
                <h3>{{ 'LINKS.OVERVIEW' | translate }}</h3>
                <ul>
                    <li>
                        <a routerLink="services">{{ 'LINKS.SERVICES' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="pricing">{{ 'LINKS.PRICING' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 menu">
                <h3>{{ 'LINKS.MENU' | translate }}</h3>
                <ul>
                    <li>
                        <a routerLink="aboutus">{{ 'LINKS.ABOUTUS' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="contactus">{{ 'LINKS.CONTACTUS' | translate }}</a>
                    </li>
                    <!--
                    <li>
                        <a routerLink="portfolio">{{ 'LINKS.PORTFOLIO' | translate }}</a>
                    </li>
                    -->
                </ul>
            </div>
            <div class="col-sm-2 menu">
                <h3>{{ 'LINKS.SOCIAL' | translate }}</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/SynTech-Services-1305612176170629" target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/1/102487595666759897246" target="_blank">Google</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 newsletter">
                <!--
                <div class="signup clearfix">
                    <p>
                        Sign up for the newsletter and we'll inform you of updates, offers and more.
                    </p>
                    <form>
                        <input type="text" name="email" class="form-control" placeholder="Your email address" />
                        <input type="submit" value="Sign up" />
                    </form>
                </div>
                
                <a href="#">
                    <img src="/assets/images/social/social-tw.png" alt="twitter" />
                </a>
                <a href="#">
                    <img src="/assets/images/social/social-dbl.png" alt="dribbble" />
                </a>
                -->
                <div class="social">
                    <a href="https://www.facebook.com/SynTech-Services-1305612176170629" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://plus.google.com/u/1/102487595666759897246" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                Copyright © 2017. SynTech Services
            </div>
        </div>
    </div>
</div>
