<div class="services-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 info">
                <h3>{{ 'SERVICES.INTRO' | translate }}</h3>
                <p>
                    {{ 'SERVICES.INTRO_DETAIL' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="services-tabs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 hexagons">
                <!--
                <div class="hexagon active">
                    <span class="icon brankic-phone"></span>
                </div>
                <div class="hexagon">
                    <span class="icon brankic-monitor"></span>
                </div>
                <div class="hexagon">
                    <span class="icon brankic-upload2"></span>
                </div>
                <div class="hexagon">
                    <span class="icon brankic-tools"></span>
                </div>
                
                <div class="hexagon">
                    <span class="icon brankic-upload2"></span>
                </div>
                <div class="hexagon">
                    <span class="icon brankic-tools"></span>
                </div>
                -->
                <nav>
                    <ul class="nav">
                        <li><a class="hexagon active"><i class="icon brankic-phone"></i></a></li>
                        <li><a class="hexagon"><i class="icon brankic-monitor"></i></a></li>
                        <li><a class="hexagon"><i class="icon brankic-upload2"></i></a></li>
                        <li><a class="hexagon"><i class="icon brankic-cube"></i></a></li>
                        <li><a class="hexagon"><i class="icon brankic-link"></i></a></li>
                        <li><a class="hexagon"><i class="icon brankic-tools"></i></a></li>
                    </ul>
                </nav>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="sections">
                    <div class="section active">
                        <h4>{{ 'SERVICES.SERVICE1' | translate }}</h4>
                        <p>
                            {{ 'SERVICES.SERVICE1_DETAIL1' | translate }}
                        </p>
                        <p>
                            {{ 'SERVICES.SERVICE1_DETAIL2' | translate }}
                        </p>
                    </div>
                    <div class="section">
                        <h4>{{ 'SERVICES.SERVICE2' | translate }}</h4>
                        <p>
                            {{ 'SERVICES.SERVICE2_DETAIL1' | translate }}
                        </p>
                    </div>
                    <div class="section">
                        <h4>{{ 'SERVICES.SERVICE3' | translate }}</h4>
                        <p>
                            {{ 'SERVICES.SERVICE3_DETAIL1' | translate }}
                        </p>
                        <p>
                            {{ 'SERVICES.SERVICE3_DETAIL2' | translate }}
                        </p>
                    </div>
                    <div class="section">
                        <h4>{{ 'SERVICES.SERVICE4' | translate }}</h4>
                        <p>
                            {{ 'SERVICES.SERVICE4_DETAIL1' | translate }}
                        </p>
                        <p>
                            {{ 'SERVICES.SERVICE4_DETAIL2' | translate }}
                        </p>
                    </div>
                    <div class="section">
                        <h4>{{ 'SERVICES.SERVICE5' | translate }}</h4>
                        <p>
                            {{ 'SERVICES.SERVICE5_DETAIL1' | translate }}
                        </p>
                        <p>
                            {{ 'SERVICES.SERVICE5_DETAIL2' | translate }}
                        </p>
                    </div>
                    <div class="section">
                        <h4>{{ 'SERVICES.SERVICE6' | translate }}</h4>
                        <p>
                            {{ 'SERVICES.SERVICE6_DETAIL1' | translate }}
                        </p>
                        <p>
                            {{ 'SERVICES.SERVICE6_DETAIL2' | translate }}
                        </p>
                    </div>
                    <!--
                    <div class="section">
                        <h4>Photoshop Mockups</h4>
                        <p>
                            I want everything we do to be beautiful. I don’t give a damn whether the client understands that that’s worth anything, or that the client thinks it’s worth anything, or whether it is worth anything. It’s worth it to me. It’s the way I want to live my life. I want to make beautiful things, even if nobody cares.
                        </p>
                        <p>
                            We'll be adding some new stuff to make it even more awesome, if you have any idea please let us know.
                        </p>
                    </div>
                    <div class="section">
                        <h4>Retina display</h4>
                        <p>
                            Functionality is so over-valued in design, and we’ve kept design very small in that way. Functionality is the sheer minimum. If your house burns down, what do you take? The cat in the window that you got from your mother, or the chair you have?
                        </p>
                        <p>
                            Simply are looking to sell digital goods or are interested in drop shipping — React has a complete solution in this.
                        </p>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
