<div class="about-us-header">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'ABOUT.COMPANY' | translate }}</h3>
                <p>
                    {{ 'ABOUT.DETAIL1' | translate }}
                </p>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
<div class="about-us-team">
    <div class="container">
        <!--
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'ABOUT.TITLE' | translate }}</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <p>
                    {{ 'ABOUT.DETAIL2' | translate }}
                </p>
                <p>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    {{ 'ABOUT.DETAIL3' | translate }}
                </p>
            </div>
        </div>
        -->
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'ABOUT.TEAM' | translate }}</h3>
            </div>
        </div>
        <div class="row team">
            <!-->
            <div class="col-md-12 team-row">
                <img src="/assets/images/testimonials/testimonial1.jpg" data-toggle="tooltip" title="Andy Heyns - CEO" alt="testimonial" />
            </div>
            -->
            <div class="col-xs-12 col-sm-4 text-center testimonial">
                <img src="/assets/images/testimonials/testimonial1.jpg" class="img-responsive img-thumbnail img-rounded" data-toggle="tooltip" title="Andy Heyns - CEO" alt="testimonial" />
            </div>
            <div class="col-xs-12 col-sm-8">
                <blockquote>
                    <p>To learn more and more new things as a developer is a musthave. Always improve yourself.</p>
                    <footer>Andy Heyns
                        <cite title="Source Title"> - CEO</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
<div class="about-us-skills">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'ABOUT.SKILLS' | translate }}</h3>
                <p>{{ 'ABOUT.SKILLS_DETAILS' | translate }}</p>
                <div class="row">
                    <div class="col-xs-6 col-sm-2 skill">HTML5
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">CSS3
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">Angular JS
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">EXT JS
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">C#
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">PHP
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-2 skill">(PL)SQL
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">NoSQL (MongoDB)
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">MSSQL
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">IONIC (hybride)
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">Android (native - hybride)
                    </div>
                    <div class="col-xs-6 col-sm-2 skill">CMS (Wordpress | Drupal)
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
<div class="about-us-certificates">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'ABOUT.CERTIFICATES' | translate }}</h3>
                <p>{{ 'ABOUT.CERTIFICATES_DETAILS' | translate }}</p>
                <div class="row">
                    <div class="col-md-4">
                        <article class="education">
                            <header>
                                <h5>Hogeschool PXL</h5>
                                <p>
                                    {{ 'ABOUT.CERTIFICATES_GRADUATED_TITLE1' | translate }}
                                    <br />
                                    <strong>{{ 'ABOUT.CERTIFICATES_GRADUATED' | translate }}:</strong> 2015-2016
                                </p>
                            </header>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="education">
                            <header>
                                <h5>Coursera</h5>
                                <p>
                                    {{ 'ABOUT.CERTIFICATES_GRADUATED_TITLE2' | translate }}
                                    <br />
                                    <strong>{{ 'ABOUT.CERTIFICATES_GRADUATED' | translate }}:</strong> 2016
                                </p>
                            </header>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-questions">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <div class="wrapper clearfix">
                    <h4>{{ 'ABOUT.QUESTION' | translate }}</h4>
                    <a routerLink="../contactus" class="button button-small pull-right">{{ 'ABOUT.QUESTION_BUTTON' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
