.pricing-3-options-section {
    margin-top: 0px!important;
    h3 {
        color: $primary-text-color2!important;
    }
    .container {
        margin-bottom: 50px!important;
    }
    .nota {
        text-align: left!important;
        padding-top: 20px;
    }
    .message p {
        padding: 0 20px;
        text-align: left!important;
    }
    .cloud-hosting {
        padding-right: 0px;
    }
    .faq .questions .question p {
        color:#656565!important;
    }

    @media (min-width: 992px) {
        .charts .chart.featured {
            margin: 0 auto;
            top: 0px;
            min-height: 405px!important;
        }
    }
    @media (max-width: 992px) {
        .cloud-hosting {
            padding-right: 15px;
        }
    }

}
