<div class="pricing-3-options-section">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'PRICING.HEADER1' | translate }}</h3>
                <p>{{ 'PRICING.HEADER1_DETAIL' | translate }}</p>
            </div>
        </div>
        <div class="spacerSmall"></div>
        <div class="row charts">
            <div class="col-md-4">
                <div class="chart first">
                    <div class="plan-name">{{ 'PRICING.SERVICE1' | translate }}</div>
                    <div class="quantity">
                        <span class="dollar">{{ 'PRICING.CURRENCY' | translate }}</span>
                        <span class="price">{{ 'PRICING.SERVICE1_PRICING' | translate }}</span>
                        <!--<span class="period">/month</span>-->
                    </div>
                    <div class="specs">
                        <div class="spec">
                            <span class="variable">1</span> {{ 'PRICING.SERVICE1_DETAIL1' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">{{ 'PRICING.SERVICE1_DETAIL2_VAR' | translate }}</span> {{ 'PRICING.SERVICE1_DETAIL2' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">100%</span> {{ 'PRICING.SERVICE1_DETAIL3' | translate }}
                        </div>
                        <!--
                        <div class="spec">
                            <span class="variable">10</span> {{ 'PRICING.SERVICE1_DETAIL4' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">1.0%</span> {{ 'PRICING.SERVICE1_DETAIL5' | translate }}
                        </div>
                        -->
                    </div>
                    <a class="btn-signup button-clear" [routerLink]='["/contactus"]'>
                        <span>{{ 'PRICING.ASKOFFER' | translate }}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chart featured">
                    <img src="/assets/images/ribbon.png" class="popular" alt="ribbon" />
                    <div class="plan-name">{{ 'PRICING.SERVICE2' | translate }}</div>
                    <div class="quantity">
                        <span class="dollar">{{ 'PRICING.CURRENCY' | translate }}</span>
                        <span class="price">{{ 'PRICING.SERVICE2_PRICING' | translate }}</span>
                        <!--<span class="period">/month</span>-->
                    </div>
                    <div class="specs">
                        <div class="spec">
                            <span class="variable">5</span> {{ 'PRICING.SERVICE2_DETAIL1' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">{{ 'PRICING.SERVICE2_DETAIL2_VAR' | translate }}</span> {{ 'PRICING.SERVICE2_DETAIL2' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">100%</span> {{ 'PRICING.SERVICE2_DETAIL3' | translate }}
                        </div>
                        <!--
                        <div class="spec">
                            <span class="variable"></span> {{ 'PRICING.SERVICE2_DETAIL4' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">0.5%</span> {{ 'PRICING.SERVICE2_DETAIL5' | translate }}
                        </div>
                        -->
                    </div>
                    <a class="btn-signup button-clear" [routerLink]='["/contactus"]'>
                        <span>{{ 'PRICING.ASKOFFER' | translate }}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chart last">
                    <div class="plan-name">{{ 'PRICING.SERVICE3' | translate }}</div>
                    <div class="quantity">
                        <span class="dollar">{{ 'PRICING.CURRENCY' | translate }}</span>
                        <span class="price">{{ 'PRICING.SERVICE3_PRICING' | translate }}</span>
                        <!--<span class="period">/month</span>-->
                    </div>
                    <div class="specs">
                        <div class="spec">
                            <span class="variable">5</span> {{ 'PRICING.SERVICE3_DETAIL1' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">{{ 'PRICING.SERVICE3_DETAIL2_VAR' | translate }}</span> {{ 'PRICING.SERVICE3_DETAIL2' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">100%</span> {{ 'PRICING.SERVICE3_DETAIL3' | translate }}
                        </div>
                        <!--
                        <div class="spec">
                            <span class="variable">25</span> {{ 'PRICING.SERVICE3_DETAIL4' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">No</span> {{ 'PRICING.SERVICE3_DETAIL5' | translate }}
                        </div>-->
                    </div>
                    <a class="btn-signup button-clear" [routerLink]='["/contactus"]'>
                        <span>{{ 'PRICING.ASKOFFER' | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row message">
            <p>
                {{ 'PRICING.FOOTER1_NOTA1' | translate }}
            </p>
            <p>
                {{ 'PRICING.FOOTER1_NOTA2' | translate }}
            </p>
        </div>
        <div class="divider"></div>
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'PRICING.HEADER2' | translate }}</h3>
                <p>{{ 'PRICING.HEADER2_DETAIL' | translate }}</p>
            </div>
        </div>
        <div class="spacerSmall"></div>
        <div class="row charts">
            <div class="col-md-offset-2 col-md-4 col-xs-12 cloud-hosting">
                <div class="chart">
                    <div class="plan-name">{{ 'PRICING.SERVICE4' | translate }}</div>
                    <div class="quantity">
                        <span class="dollar">{{ 'PRICING.CURRENCY' | translate }}</span>
                        <span class="price">{{ 'PRICING.SERVICE4_PRICING' | translate }}</span>
                        <span class="period">{{ 'PRICING.SERVICE4_RECURRING' | translate }}</span>
                    </div>
                    <div class="specs">
                        <div class="spec">
                            <span class="variable">24/7</span> {{ 'PRICING.SERVICE4_DETAIL1' | translate }}
                        </div>
                        <!--
                        <div class="spec">
                            <span class="variable">Digital</span> {{ 'PRICING.SERVICE4_DETAIL2' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">Virtual</span> {{ 'PRICING.SERVICE4_DETAIL3' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">10</span> {{ 'PRICING.SERVICE4_DETAIL4' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">1.0%</span> {{ 'PRICING.SERVICE4_DETAIL5' | translate }}
                        </div>
                        -->
                    </div>
                    <a class="btn-signup button-clear" [routerLink]='["/contactus"]'>
                        <span>{{ 'PRICING.ASKOFFER' | translate }}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-offset-0 col-md-4 col-xs-12">
                <div class="chart">
                    <div class="plan-name">{{ 'PRICING.SERVICE5' | translate }}</div>
                    <div class="quantity">
                        <span class="dollar">{{ 'PRICING.CURRENCY' | translate }}</span>
                        <span class="price">{{ 'PRICING.SERVICE5_PRICING' | translate }}</span>
                        <span class="period">{{ 'PRICING.SERVICE5_RECURRING' | translate }}</span>
                    </div>
                    <div class="specs">
                        <div class="spec">
                            <span class="variable">DNS</span> {{ 'PRICING.SERVICE5_DETAIL1' | translate }}
                        </div>
                        <!--
                        <div class="spec">
                            <span class="variable"></span> {{ 'PRICING.SERVICE5_DETAIL2' | translate }}
                        </div>
                        
                        <div class="spec">
                            <span class="variable">Virtual</span> {{ 'PRICING.SERVICE5_DETAIL3' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">10</span> {{ 'PRICING.SERVICE5_DETAIL4' | translate }}
                        </div>
                        <div class="spec">
                            <span class="variable">1.0%</span> {{ 'PRICING.SERVICE5_DETAIL5' | translate }}
                        </div>
                        -->
                    </div>
                    <a class="btn-signup button-clear" [routerLink]='["/contactus"]'>
                        <span>{{ 'PRICING.ASKOFFER' | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row message nota">
            <p>
                {{ 'PRICING.FOOTER2_NOTA1' | translate }}
            </p>
            <p>
                {{ 'PRICING.FOOTER2_NOTA2' | translate }}
            </p>
        </div>
        <div class="divider"></div>
        <div class="row faq">
            <div class="col-md-12">
                <div class="row header">
                    <div class="col-md-12">
                        <h3>{{ 'PRICING.FAQ' | translate }}</h3>
                    </div>
                </div>
                <div class="row questions">
                    <div class="col-md-6">
                        <div class="question">
                            <strong>{{ 'PRICING.FAQ1_HEADER' | translate }}</strong>
                            <p>
                                {{ 'PRICING.FAQ1_DETAIL' | translate }}
                            </p>
                        </div>
                        <div class="question">
                            <strong>{{ 'PRICING.FAQ2_HEADER' | translate }}</strong>
                            <p>
                                {{ 'PRICING.FAQ2_DETAIL' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="question">
                            <strong>{{ 'PRICING.FAQ3_HEADER' | translate }}</strong>
                            <p>
                                {{ 'PRICING.FAQ3_DETAIL' | translate }}
                            </p>
                        </div>
                        <div class="question">
                            <strong>{{ 'PRICING.FAQ4_HEADER' | translate }}</strong>
                            <p>
                                {{ 'PRICING.FAQ4_DETAIL' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact">
            <div class="col-md-12">
                <div class="wrapper clearfix">
                    <h4>
                      <span class="brankic-envelope"></span>
                      {{ 'PRICING.HELP' | translate }}
                      <strong><a href="mailto:contact@syntech-services.be">contact@syntech-services.be</a></strong>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
