<div class="container-fluid">
    <div class="row">
        <div class="text-center" style="position: relative">
            <div class="img-responsive main-image" id="cover-image"></div>
            <div class="caption">
                <h1 class="hero-text">{{ 'HOME.TITLE' | translate }}</h1>
            </div>
        </div>
    </div>
    <!--
    <div class="cta animated fadeIn">
        <a href="signup.html" class="button">Sign up free</a>
    </div>
    <div class="screenshot animated fadeInUp">
        <img src="/assets/images/ss2.png" class="img-responsive" alt="screenshot" />
    </div>
    -->
</div>
<div class="features-section">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h2>{{ 'HOME.HEADER_SEARCH' | translate }}</h2>
                <p>{{ 'HOME.HEADER_SEARCH_SUB' | translate }}</p>
            </div>
        </div>

        <div class="spacerSmall"></div>

        <div class="row feature">
            <div class="col-md-6 col-sm-6 info">
                <h4>{{ 'HOME.FEATURE1' | translate }}</h4>
                <p>
                    {{ 'HOME.FEATURE1_DETAIL' | translate }}
                </p>
            </div>
            <div class="col-md-6 col-sm-6 image">
                <img src="/assets/images/partials/home/home1.jpg" class="img-responsive img-rounded" alt="home1" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="row feature">
            <div class="col-md-6 col-md-push-6  col-sm-6 col-sm-push-6 col-xs-12 info">
                <h4>{{ 'HOME.FEATURE2' | translate }}</h4>
                <p>
                    {{ 'HOME.FEATURE2_DETAIL' | translate }}
                </p>
            </div>
            <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 image">
                <img src="/assets/images/partials/home/home2.jpg" class="img-responsive img-rounded" alt="home2" />
            </div>
        </div>
    </div>
</div>
